@import "src/scss/globals";
.skills {
  .skillz {
    display: flex;
    justify-content: space-between;
    @include weird-medium {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__category {
      @include weird-medium {
        width: 47%;
        margin-right: 5px;
        margin-bottom: 25px;
      }
      &__label {
        font-weight: 700;
        color: $black;
        text-transform: uppercase;
      }
      &__item {
        margin: 3px 0;
        font-size: 0.9rem;
      }
    }
  }
}
.img_wrapper {
  width: 100%;
  pointer-events: none;
  z-index: 0;
  position: absolute;
}
.img {
  position: absolute;
  margin-left: 10px;
  top: -150px;
  width: 600px;
  z-index: 0;
  opacity: 0.1;
  @include tablet {
    width:400px;
  }
}