@import "src/scss/globals";
.skills {
  .skillz {
    display: flex;
    justify-content: space-between;
    @include weird-medium {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__category {
      @include weird-medium {
        width: 47%;
        margin-right: 5px;
        margin-bottom: 25px;
      }
      &__label {
        font-weight: 700;
        color: $black;
        text-transform: uppercase;
      }
      &__item {
        margin: 3px 0;
        font-size: 0.9rem;
      }
    }
  }
}
.img_wrapper {
  position: absolute;
  width: 100%;
  margin:0;
  padding:0;
  left:0;
  z-index: 0;
  pointer-events: none;
  text-align: left;
  @include tablet {
    text-align: center;
  }
  @include mobile {
    display:none;
  }
}
.img {
  width: 30%;
  z-index: 0;
  opacity: 0.1;
  pointer-events: none; 
  @include tablet {
    width:50%;
  }
  @include mobile {
    width:55%;
  }
}